/* Gruvbox Material Medium Base16 colors */
@define-color base00 #292828; /* bg */
@define-color base01 #32302f; /* bg2 */
@define-color base02 #504945; /* bg6 */
@define-color base03 #665c54; /* bg8 */
@define-color base04 #bdae93; /* p-fg3 */
@define-color base05 #ddc7a1; /* fg */
@define-color base06 #ebdbb2; /* p-fg1 */
@define-color base07 #fbf1c7; /* p-fg0 */
@define-color base08 #ea6962; /* red */
@define-color base09 #e78a4e; /* orange */
@define-color base0A #d8a657; /* yellow */
@define-color base0B #a9b665; /* green */
@define-color base0C #89b482; /* aqua/cyan */
@define-color base0D #7daea3; /* blue */
@define-color base0E #d3869b; /* purple */
@define-color base0F #bd6f3e; /* dim-orange */

window#waybar {
  background-color: @base00;
}
* {
  min-height: 0px;
  font-size: 12px;
  font-family: Hack Nerd Font Mono;
  font-weight: 600;
  padding-bottom: 1px;
  padding-top: 1px;
}
#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
#clock {
  margin: 2px 2px 2px 2px;
  color: @base0D;
  padding-left: 8px;
  padding-right: 8px;
  background-color: @base02;
  border-radius: 8px;
}

/* right module */
#wireplumber,
#bluetooth,
#network,
#disk,
#memory,
#cpu,
#backlight,
#battery {
  color: @base05;
  margin: 2px 2px 2px 2px;
  padding: 0px 8px 0px 8px;
  background-color: @base01;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 8px;
}
#tray,
#custom-power {
  color: @base05;
  margin: 2px 0px 2px 0px;
  padding: 0px 2px 0px 2px;
  background-color: @base01;
  color: #bf616a;
  padding-top: 2px;
  padding-bottom: 2px;
}

#workspaces {
  margin: 0px 4px 0px 4px;
}

#workspaces button {
  background: @base01;
  color: @base0A;
  margin: 0px 2px 0px 2px;
  padding: 0px 4px 0px 4px;
}

#workspaces button.empty {
  background: @base00;
}

#workspaces button.visible {
  background-color: @base01;
  border: 1px solid;
  border-color: @base05
}

#workspaces button.urgent {
  color: @base04;
  border: 1px solid;
  border-color: @base08;
}

#custom-left_pad {
  border-radius: 8px 0px 0px 8px;
  padding: 0px 2px 0px 2px;
  margin: 2px 0px 2px 2px;
  background-color: @base01;
}

#custom-right_pad {
  border-radius: 0px 8px 8px 0px;
  padding: 0px 2px 0px 2px;
  margin: 2px 2px 2px 0px;
  background-color: @base01;
}
#custom-pipe {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 16px;
  background-color: @base01;
  color: @base03;
}

#wireplumber {
  color: @base0E;
}
#network {
  color: @base0C;
}
#disk {
  color: @base0E;
}
#memory {
  color: @base0B;
}
#cpu {
  color: @base09;
}
#battery {
  color: @base0C;
}
#custom-power {
  color: @base08;
}

